<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-4">
  <div class="card">
    <% if board.board_image? %>  <!-- アップロード画像がある場合に実行する -->
      <p>
        <%= image_tag board.board_image.url %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
      </p>
    <% end %>
      <div class="card-body">
        <h4 class="card-title">
          <%# link_to board.title, board_path(board.id) %>
          <%= link_to board.title, board_path(board) %>
        </h4>
          <% if board.user_id == current_user.id %>
          <%= render 'crud_menus', board: board %>
          <% else %>
          <%= render 'bookmarks/bookmark_button', board: board %>
          <% end %>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="far fa-user"></i><%= board.user.decorate.full_name %></li>
          <li class="list-inline-item"><i class="far fa-calendar"></i><%= l board.user.created_at %></li>
          <%# render 'bookmarks/unbookmark', board: board %>
          
        </ul>
        <p class="card-text"><%= board.body %></p>
      </div>
    </div>
  </div>
</div>