<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
  </head>

  <body>
    <%= render 'admin/shared/header' %>
    <%= render 'admin/shared/sidebar' %>
  <div class="content-wrapper">
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </div>
    <%= javascript_include_tag 'admin' %>
    <%= render 'admin/shared/footer' %>
  </body>
</html>
